nav {
    height: 120px;
    width: 100%;
    background-color: #4056A1;
    color: #FFFFFF;
    padding: 1.5em; 
    display: flex;
    align-items: center; 
    justify-content: space-between;
    position: fixed 
  }
  
  nav .logo {
    font-family: 'Bungee', sans-serif;
    color: #da8507;
  }
  
  nav .right-content {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    font-family: 'Bungee', sans-serif;
    color:  #da8507;
  }
  
  
  nav i {
    color: orange;
    display: block;
    margin-right: 2em;
  }
  
  .container1 {
    width: 98%;
    margin: 0 auto;
    background-color: inherit;
    border: 5px solid #000000;
  }