.new-tweet form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    font-family: 'Bungee', sans-serif;
    font-size: small;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .new-tweet h2 {
    margin-bottom: 10px;
    color: #1da1f2;
    font-family: 'Bungee', sans-serif;
    width: fit-content;
    font-size: small;
  }
  
  .new-tweet label {
    font-weight: bold;
    color: #da8507;
  }
  
  .new-tweet textarea {
    height: 100px;
    padding: 15px;
    margin-bottom: 10px;
    line-height: 20px;
    resize: none;
    border: 1px solid #da8507;
    border-radius: 4px;
    font-size: 16px;
  }
  
.new-tweet button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #da8507;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.new-tweet button:hover {
  background-color: #fff;
}

.new-tweet .counter {
    color: #657786;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 70em;
  }

  .new-tweet .counter.invalid {
    color: red;
  }
  
  
@media (min-width: 768px) {
  .new-tweet button {
    min-width: 120px;
    padding: 0 25px;
  }
}